<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843681785456-u44ljuvn5d7sau1b6utqtgvi72ph59rp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843681785456-u44ljuvn5d7sau1b6utqtgvi72ph59rp</string>
	<key>API_KEY</key>
	<string>AIzaSyAevvMZ0XUj5tBpPFX7ui5W5bAKbC9g778</string>
	<key>GCM_SENDER_ID</key>
	<string>843681785456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAutenticazione</string>
	<key>PROJECT_ID</key>
	<string>fir-autenticazione-734f2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-autenticazione-734f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843681785456:ios:72d116c99aec77363f36b5</string>
	<key>DATABASE_URL</key>
	<string>https://fir-autenticazione-734f2.firebaseio.com</string>
</dict>
</plist>